body{
    overflow: hidden;
}

.header-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    margin: 0.5rem 30px;
}
.header-container h5{
    margin: 0;
}
.main-application-page{
    display: flex;
    flex-direction: row;
}

.sidebar {
      height: 100vh;
      width: 220px;
      background: #081A36;
      position: fixed;
      color: white;
      left: 0;
      top: 0;
      padding-top: 20px;
    }

.sidebar p {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
}

/* .sidebar p:hover {
    background: #1b263b;
    color: white;
} */

.sidebar p.active {
    background: #158C45;
    color: white;
    margin: 0 10px;
}
.main-container{
    width: 100%;
    margin-left: 220px;
    height: 100vh;
    background-color: #F6F8FB;
}

#data-table {
  width: 1300px;
  height: 100%;
}

/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.mytooltiptext {
    visibility: hidden;
    top: 25px;
    width: 250px;
    background-color: #393939;
    color: #ffffff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text on hover */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

.tagStyle{
    padding: 4px 10px;
    background-color: rgb(255, 157, 231);
    color: rgb(95, 39, 78);
    border-radius: 2px;
}

/* .categoryColumn{
    background-color: #fdefbf;
} */

.debitColumn{
    /* background-color: #ffdddd; */
    font-weight: 500;
    color: rgb(165, 0, 0);
}

.creditColumn{
    /* background-color: #c9e5c5; */
    font-weight: 500;
    color: green;
}